<div class="sec sec04">
  <div class="move2D bg04 front" data-x="0.1" data-y="0.05" data-ease="0.09"></div>
  <div class="move2D bg04 back" data-both="0.2" data-ease="0.06"></div>
  <div class="overlay"></div>
</div>