<div class="sec sec02">

  <!-- sp bg -->
  <div class="bg"></div>

  <!-- pc bg -->
  <div class="sec02BgCanvas"></div>

  <!-- overlay -->
  <div class="overlay black"></div>
  <div class="overlay blue"></div>
  
</div>
