<div class="sec sec03">

  <div class="sec03BgCanvas"></div>

  <div class="blockWrap">


    <div class="block">

      <!-- ul -->
      <div class="ul fList">

        <div class="item move3D">
        <a href="/interview/01/" class="pjax">

          <!-- num -->
          <div class="numWrap">
            <p>01</p>
            <div class="bar"></div>
          </div>

          <!-- box -->
          <div class="box box01">

            <div class="overlay"></div>
            <div class="rectBg"></div>

            <!-- bg -->
            <!--<img src="/assets/resource/img/interview/index/img01_pc.jpg" height="710" width="1100" alt="" class="bg " data-x="0.03" data-y="0.02" data-ease="0.07">-->
          

            <!-- tit -->
            <div class="titWrap">
              <p class="position">Owner Chef of “BURROW”</p>
              <p class="name">Ayako Kurokawa</p>
            </div>
            
          </div>

          <!-- tit -->
          <div class="titWrap02">
            <div class="innerWrap">
              <div class="inner">
                <p class="position">Owner Chef of “BURROW”</p>
                <p class="name">Ayako Kurokawa</p>
              </div>
            </div>
            <div class="readWrap">
            <p class="read">

            </p>
            </div>
          </div>

        </a>
        </div>

        <div class="item move3D">
        <a href="/interview/02/" class="pjax">

          <!-- num -->
          <div class="numWrap">
            <p>02</p>
            <div class="bar"></div>
          </div>

          <!-- box -->
          <div class="box box02">

            <div class="overlay"></div>
            <div class="rectBg"></div>

            <!-- bg -->
            <!--<img src="/assets/resource/img/interview/index/img02_pc.jpg" height="798" width="652" alt="" class="bg " data-x="0.05" data-y="0.04" data-ease="0.05">-->
          
            <!-- tit -->
            <div class="titWrap">
              <p class="position">Illustrator</p>
              <p class="name">Meghann Stephenson</p>
            </div>
            
          </div>

          <!-- tit -->
          <div class="titWrap02">
            <div class="innerWrap">
              <div class="inner">
                <p class="position">Illustrator</p>
                <p class="name">Meghann Stephenson</p>
              </div>
            </div>
            <div class="readWrap">
            <p class="read">

            </p>
            </div>
          </div>

        </a>
        </div>

        <div class="item move3D">
        <a href="/interview/03/" class="pjax">

          <!-- num -->
          <div class="numWrap">
            <p>03</p>
            <div class="bar"></div>
          </div>

          <!-- box -->
          <div class="box box03">

            <div class="overlay"></div>
            <div class="rectBg"></div>

            <!-- bg -->
            <!--<img src="/assets/resource/img/interview/index/img03_pc.jpg" height="540" width="340" alt="" class="bg">-->
          
            <!-- tit -->
            <div class="titWrap">
              <p class="position">Artist</p>
              <p class="name">AyaBambi</p>
            </div>
            
          </div>

          <!-- tit -->
          <div class="titWrap02">
            <div class="innerWrap">
              <div class="inner">
                <p class="position">Artist</p>
                <p class="name">AyaBambi</p>
              </div>
            </div>
            <div class="readWrap">
            <p class="read">
              <span>READ MORE</span>

            </p>
            </div>
          </div>
        
        </a>
        </div>

      </div>

    </div>

    <!-- ************************************************************
    //  textWrapPC
    // ************************************************************ -->
    <div class="textWrap_pc">

      <h3 class="subTit">Interview</h3>

      <div class="bar"></div>

      <!--<h2 class="tit"><img src="/assets/resource/img/interview/index/text01_pc.png" height="89" width="774" alt=""></h2>-->

      <p class="text">
        <!--<img src="/assets/resource/img/interview/index/text02_pc.png" height="90" width="876" alt="">-->
      </p>
      
    </div>

  </div>
</div>
