<!-- ************************************************************
//
//  footer
//
// ************************************************************ -->
<footer id="footer">

  <!--&lt;!&ndash; copy &ndash;&gt;-->
  <!--<div class="copy">-->
    <!--COPYRIGHT SOCIETE DU FIGARO COPYRIGHT CCC Media House Co.,Ltd. <br>-->
    <!--NO REPRODUCTION OR REPUBLICATION WITHOUT WRITTEN PERMISSION.-->
  <!--</div>-->

  <!--<p class="text">-->
    <!--<img src="/assets/resource/img/top/text02_pc.png" height="15" width="259" alt="">-->
  <!--</p>-->

</footer>
