<!-- ************************************************************
//
//  breadcrumb
//
// ************************************************************ -->  
<% var p = page || null; %>

<% if (p == 'shimachi') { %>

    <!-- shimachi -->    
    <div class="breadcrumb">
      <div class="inner">
        <span class="text"><a href="" class="boderBtm">トップ</a></span>
        <span class="arrow"><img src="/assets/img/common/arrow_bread.png" height="9" alt=""></span>
        <span class="text"><a href="" class="boderBtm">伊勢志摩エリア  伊勢志摩</a></span>
      </div>
    </div>

<% } else if(p == 'ranking') { %>

  <!-- ranking -->
  <div class="breadcrumb">
    <div class="inner">
      <span class="text"><a href="" class="boderBtm">トップ</a></span>
      <span class="arrow"><img src="/assets/img/common/arrow_bread.png" height="9" alt=""></span>
      <span class="text icon"><a href="" class="boderBtm">ランキング</a></span>
    </div>
  </div>

<% } else if(p == 'category') { %>

  <!-- category -->
  <div class="breadcrumb">
    <div class="inner">
      <span class="text"><a href="" class="boderBtm">トップ</a></span>
      <span class="arrow"><img src="/assets/img/common/arrow_bread.png" height="9" alt=""></span>
      <span class="text icon"><a href="" class="boderBtm">あそぶ</a></span>
    </div>
  </div>

<% } else if(p == 'feature') { %>

  <!-- feature -->
  <div class="breadcrumb">
    <div class="inner">
      <span class="text"><a href="" class="boderBtm">トップ</a></span>
      <span class="arrow"><img src="/assets/img/common/arrow_bread.png" height="9" alt=""></span>
      <span class="text icon"><a href="" class="boderBtm">特集</a></span>
    </div>
  </div>

<% } else if(p == 'noResult') { %>

  <!-- noResult -->
  <div class="breadcrumb">
    <div class="inner">
      <span class="text"><a href="" class="boderBtm">トップ</a></span>
      <span class="arrow"><img src="/assets/img/common/arrow_bread.png" height="9" alt=""></span>
      <span class="text"><a href="" class="boderBtm">検索結果 「松坂忍者」</a></span>
    </div>
  </div>

<% } else if(p == 'tag') { %>

  <!-- tag -->
  <div class="breadcrumb">
    <div class="inner">
      <span class="text"><a href="" class="boderBtm">トップ</a></span>
      <span class="arrow"><img src="/assets/img/common/arrow_bread.png" height="9" alt=""></span>
      <span class="text icon"><a href="" class="boderBtm">パクられすぎ</a></span>
    </div>
  </div>

<% } else if(p == 'writer') { %>

  <!-- writer -->
  <div class="breadcrumb">
    <div class="inner">
      <span class="text"><a href="" class="boderBtm">トップ</a></span>
      <span class="arrow"><img src="/assets/img/common/arrow_bread.png" height="9" alt=""></span>
      <span class="text"><a href="" class="boderBtm">村山祐介</a></span>
    </div>
  </div>

<% } else if(p == 'details') { %>

  <!-- details -->
  <div class="breadcrumb">
    <div class="inner">
      <span class="text"><a href="" class="boderBtm">トップ</a></span>
      <span class="arrow"><img src="/assets/img/common/arrow_bread.png" height="9" alt=""></span>
      <span class="text icon"><a href="" class="boderBtm">あそぶ</a></span>
      <span class="arrow"><img src="/assets/img/common/arrow_bread.png" height="9" alt=""></span>
      <span class="text"><a href="" class="boderBtm">棒に刺してみたVol.3 ★焼き伊..</a></span>
    </div>
  </div>

<% } else if(p == 'chiefEditor') { %>

  <!-- chiefEditor -->
  <div class="breadcrumb">
    <div class="inner">
      <span class="text"><a href="" class="boderBtm">トップ</a></span>
      <span class="arrow"><img src="/assets/img/common/arrow_bread.png" height="9" alt=""></span>
      <span class="text icon"><a href="" class="boderBtm">編集長がやってみた</a></span>
    </div>
  </div>

<% } else if(p == 'about') { %>

  <!-- about -->
  <div class="breadcrumb">
    <div class="inner">
      <span class="text"><a href="" class="boderBtm">トップ</a></span>
      <span class="arrow"><img src="/assets/img/common/arrow_bread.png" height="9" alt=""></span>
      <span class="text"><a href="" class="boderBtm">伊勢志摩エリア  伊勢志摩</a></span>
    </div>
  </div>

<% } else if(p == 'kiyaku') { %>

  <!-- kiyaku -->
  <div class="breadcrumb">
    <div class="inner">
      <span class="text"><a href="" class="boderBtm">トップ</a></span>
      <span class="arrow"><img src="/assets/img/common/arrow_bread.png" height="9" alt=""></span>
      <span class="text"><a href="" class="boderBtm">著作権・リンク・免責事項</a></span>
    </div>
  </div>

<% } else if(p == 'error') { %>

  <!-- error -->
  <div class="breadcrumb">
    <!-- <div class="inner">
      <span class="text"><a href="" class="boderBtm">トップ</a></span>
      <span class="arrow"><img src="/assets/img/common/arrow_bread.png" height="9" alt=""></span>
      <span class="text"><a href="" class="boderBtm">検索結果 「松坂忍者」</a></span>
    </div> -->
  </div>

<% } %>