<div class="modalWrap">
<div class="modal">
    
  <!-- close -->
  <div class="icon-animation type-4 is-open closeBtn closeBtnArea op">
    <span class="top"></span>
    <span class="middle"></span>
    <span class="bottom"></span>
  </div>

  <!-- block01 -->
  <div class="block block01">
    <img src="/assets/img/about/chara01.png" alt="">
    <h3 class="tit">いせりぃ</h3>
    <p class="text">伊勢市</p>
  </div>
  <!-- block02 -->
  <div class="block block02">
    <h3 class="tit">自己紹介</h3>
    <p class="text">
      伊勢市消防団のキャラクターです。桜の花びらの妖精です。桜の花は消防団の徽章であり、また、市内には桜の見どころがたくさんあることから市民に親しまれています。伊勢市の「いせ」と妖精フェアリーの「りぃ」を組み合わせて「いせりぃ」と命名しました。市内の防火・防災啓発のイベントなどに登場します。
    </p>
  </div>
  <!-- block03 -->
  <div class="block block03">
    <h3 class="tit">生まれたきっかけなど</h3>
    <p class="text">
      平成18年から幼児を対象にした防火教室を開催していましたが、東日本大震災を期に子供達に防災意識を身に付けることも大切であると考え、団員がマスコット「いせりぃ」と防火・防災ソング「どすこいどすこい　だいじょうぶ！」を作成しました。「いせりぃ」と一緒に歌い、一緒に踊りながら災害から身を守る方法を学ぶことができます。※（「どすこい」とは「どんど来い」という意味）
    </p>
  </div>
  <!-- block04 -->
  <div class="block block04">
    <h3 class="tit">紹介ページ</h3>
    <a href="">http://www.city.ise.mie.jp/11755.htm</a>
  </div>
  <!-- block05 -->
  <div class="block footer closeBtnArea">
    <a href="javascript:void(0);">
      <p class="text op">閉じる</p>
      <!-- close -->
      <div class="icon-animation type-4 is-open closeBtn op">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
      </div>
    </a>
  </div>

</div>
</div>