<div id="thank">
  <h2 class="fzLiquid">THANK YOU</h2>
  <div class="bar"></div>

  <p class="text text01 fzLiquid">
    お問い合わせありがとうございます。<br>
    ご登録いただいたメールアドレスに担当から<br>
    ご連絡させていただきます。
  </p>
  
  <p class="text text02 fzLiquid">
    Thank you for your inquiry.<br>
    From charge to your registered e-mail address<br>
    I will contact you.
  </p>
</div>