<!-- bg -->
<div id="alert">

  <canvas></canvas>

  <div class="textWrap posCenter">
    <!--<p class="time"><span class="h01">1</span><span class="h02">6</span>&nbsp;<span class="colon">:</span>&nbsp;<span class="m01">3</span><span class="m02">0</span></p>-->
    <!--<p class="text"><img src="/assets/resource/img/alert/text01.png" height="13" width="221" alt=""></p>-->
  </div>

</div>