<!-- ************************************************************
//
//  frame
//
// ************************************************************ -->
<div class="frame frameT isOpening"></div>
<div class="frame frameR isOpening"></div>
<div class="frame frameB isOpening"></div>
<div class="frame frameL isOpening"></div>
