<!-- ************************************************************
//
//  sideR
//
// ************************************************************ -->
<div id="sideR">

  <!-- back -->
  <a href="/interview/" class="pjax">
  <div class="back">
    <span>BACK</span>
    <div class="bar"></div>
  </div>
  </a>

  <!-- tit -->
  <h2 class="tit">Interview</h2>

  <!-- indicator -->
  <div class="indicator">
    <!--<img src="/assets/resource/svg/line.svg" alt="" class="line">-->
    <span class="current">1</span>
    <span class="total">4</span>
  </div>

  <!-- next -->
  <a href="" class="pjax">
  <div class="next">
    <!-- <div class="text">Watch & History</div> -->
    <div class="text">SCROLL</div>
    <%#- include('../../resource/svg/arrowToBtm.svg'); %>
  </div>
  </a>

</div>