<!-- ************************************************************
//
//  sideL
//
// ************************************************************ -->
<div id="sideL">
  
  <!-- btn -->
  <div class="sns pc">
    <h2 class="tit">SHARE</h2>
    <div class="bar"></div>
    <ul class="list">
      <li class="item"><%#- include('../../resource/svg/top/fb.svg'); %></li>
      <li class="item"><%#- include('../../resource/svg/top/tw.svg'); %></li>
      <li class="item"><%#- include('../../resource/svg/top/mail.svg'); %></li>
    </ul>
  </div>

  <div class="sns sp">
    <div class="inner">
    <div class="iconShare">
      <%#- include('../../resource/svg/icon_share.svg'); %>
    </div>
    <div class="bar"></div>
    <ul class="list fList">
      <li class="item"><%#- include('../../resource/svg/top/fb.svg'); %></li>
      <li class="item"><%#- include('../../resource/svg/top/tw.svg'); %></li>
      <li class="item"><%#- include('../../resource/svg/top/mail.svg'); %></li>
      <li class="item"><%#- include('../../resource/svg/icon_line.svg'); %></li>
    </ul>
    </div>
  </div>

</div>